<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!-- col-md-8-->
        <h1>$title$</h1>
        <div class="info">
	  <p>Posted on $date$</p>
	  $if(tags)$ <p>Tags: $tags$</p> $endif$
	</div>
      </div>
    </div>
  </div>
</div>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	$body$
      </div>
    </div>
  </div>
</article>
