
<div class="container">
  <div id="content">
    <div class="page header">
      <h1>$title$</h1>
    </div>
    <div class="info">
      $if(subtitle)$ <div class="subtitle"><p>$subtitle$</p></div> $endif$
      $if(date)$ 
        <p>Posted: $date$ 
          $if(modified)$, Modified: $modified$ $endif$
	</p>
      $endif$
      $if(tags)$ <p>Tags: $tags$</p> $endif$
    </div>
    
  </div>
  <!--/div-->

  <div class="blog-main">
    $body$
  </div>
  $if(isPost)$

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = $siteURL$$url$; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = $url$; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//holdenlee.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <div class="sharing">
    <!-- facebook -->
    <div class="fb-share-button" data-href=$url$ data-layout="icon"></div>
    <!-- google -->
    <div class="g-plus" data-action="share"></div>
    <!-- reddit -->
    <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
    <!-- twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  $endif$
</div>
